/* applies default styling to all content */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* styles a full header block that
pre-defines the inner header height
and color */
.header {
  width: 100%;
  height: 80px;
  display: block;
  background-color: #101010;
}

/* styles a section within the header for
the content; an inner container for content
is easier to resize */
.inner_header {
  width: 1200px;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-color: #101010;
}

/* creates a container that behaves as
a table element for logo customization */ 
.logo_container {
  height: 100%;
  display: table;
  float: left;
}

/* in this instance the logo is text-based,
so this styles the text font, size, color, 
alignment, and display type */
.logo_container h1 {
  color: #dbdbdb;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 32px;
  font-weight: 200;
}

/* this styles the span portion of the text
logo with a different font weight; font-weight
determines the thickness of the text */
.logo_container h1 span {
  font-weight: 700;
}

/* within the logo container, the navigation
class formats the header navigation links
on the right side */
.navigation {
  float: right;
  height: 100%;
}

/* formats the navigation items in the
unordered list to be listed from left to
right, rather than up to down. this works
because its being styled inside of the
navigation container */
.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}

/* li elements in the navigation
list behave as table cells for cleaner
formatting, and text parameters are defined;
including alignment, font, and color  */
.navigation a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: #dbdbdb;
  font-family: 'Noto Sans JP', sans-serif;
}

/* sub heading, within the first section, 
defines the block that contains the 'welcome to
the site' sub heading and sets the
background-color and text style */
div.sub-heading {
  background-color: #101010;
  color: #dbdbdb;
  font-family: 'Noto Sans JP', sans-serif;
}

/* applies this styling to all h2 elements */
h2 {
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  padding-bottom: 30px;
}

/* applies this styling to all p elements */
p {
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  color: #101010;
  text-align: center;
}

/* styles the main content section to be
condensed within a margin from the outter limit
with a white background and black border */
main {
  margin-top: 100px;
  background-color: white;
  margin-left: 7.5%;
  margin-right: 7.5%;
  border: 2px solid black;
}
 /* styles the description text associated with
 the image elements */
div.desc {
  padding: 10px;
  text-align: center;
  color: #101010;
  font-family: 'Noto Sans JP', sans-serif;
}

/* defines the container that the functional
tooltip will consist of, and center-aligns
the text within */
div.tooltip {
  position: relative;
  display: inline-block;
  text-align: center;
}

/* styles the pop-up size, text, color,
alignment, padding, margins, position type, 
border-radius, and z-index (z-index 
determines whether or not the element will
show up in front of or behind other elements
based on the number value. 1 = in front of
whereas -1 is behind of) */
.tooltiptext {
  visibility: hidden;
  width: 400px;
  top: 100%;
  left: 50%;
  margin-left: -200px;
  background-color: #101010;
  color: #dbdbdb;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

/* tooltiptext is currently set to
visibility: hidden. therefore, this styling
says when you hover over tooltip (the container
defined earlier in the CSS file), tooltiptext
will be set to visibility: visible */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* styles the images of different species with
a set width, margin, shadow, and rounded 
corners, from the border radius */
.species {
  margin: 5px;
  width: 300px;
  box-shadow: 8px 8px 8px grey;
  border-radius: 20px;
  margin-right: 70px;
}

.tree_diagram {
  width: 45%;
  border-radius: 50px;
  border: 2px solid #101010;
  margin: 1em;
}
.top {

}

.bottom {
  
}

.test_top, .test_bottom {
  background-color: #ffffff; 

}

.footer {
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 70px 0;
  box-sizing: border-box;
  background-color: #101010;

}

.inner_footer {
  display: block;
  margin: 0 auto;
  width: 1100px;
  height: 100%;
}

.inner_footer .footer_logo_container {
  width: 35%;
  float: left;
  height: 100%;
  display: block;

}

.inner_footer .footer_logo_container img {
  width: 200px;
  height: auto;
}

.inner_footer .footer_third {
  width: calc(21.6666666667% - 20px);
  margin-right: 10px;
  float: left;
  height: 100%
}

.inner_footer .footer_third:last-child {
  margin-right: 0;
}

.inner_footer .footer_third h1 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 22px;
  color: #dbdbdb;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.inner_footer .footer_third a {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  color: #dbdbdb;
  display: block;
  width: 100%;
  padding-bottom: 5px;
}

.inner_footer .footer_third span {
  color: #dbdbdb;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  display: block;
  width: 100%;
  padding-top: 20px;
}

/* do this with whole site */
@media(max-width: 600px) {
  .footer .inner_footer {
    width: 90%
  }

  .inner_footer .footer_logo_container, .inner_footer .footer_third {
    width: 100%;
    margin-bottom: 30px;
  }
}