*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

h2 {
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  padding-bottom: 30px;
}

.header {
  width: 100%;
  height: 80px;
  display: block;
  background-color: #101010;
}

.inner_header {
  width: 1200px;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-color: #101010;
}

.logo_container {
  height: 100%;
  display: table;
  float: left;
}

.logo_container h1 {
  color: #dbdbdb;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 32px;
  font-weight: 200;
}

.logo_container h1 span {
  font-weight: 700;
}

.navigation {
  float: right;
  height: 100%;
}

.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}

.navigation a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: #dbdbdb;
  font-family: '';
  font-family: 'Noto Sans JP', sans-serif;
}

main {
  margin-top: 100px;
  background-color: white;
  margin-left: 7.5%;
  margin-right: 7.5%;
  border: 2px solid black;
}

.alpaca {
  float: left;

}

.llama {
  float: right;
}

.vicuna {
  float: left;
  padding-left: 225px;
}

.guanaco {
  float: right;
  padding-right: 225px;
}
